:root {
    /* Definitions for color variables */
    --main-bg-color: #fcf9ea;
    --primary-color: #ffa4a4;
    --primary-light-color: #ffbdbd;
    --secondary-color: #badfdb;
    --secondary-dark-color: #a8cbc7;
}

.navbar {
    background-color: var(--secondary-color);

    display: flex;
    justify-content: end;
    width: 75%;
    margin-bottom: 1em;
}

.navbar > ul {
    display: flex;
}

.home-tab {
    background-color: var(--primary-color);
}

.tab {
    background-color: var(--primary-color);
}
