:root {
    /* Definitions for color variables */
    --main-bg-color: #fcf9ea;
    --primary-color: #ffa4a4;
    --primary-light-color: #ffbdbd;
    --secondary-color: #badfdb;
}

/* navbar styling here
.navbar {

}
*/
